@import '../stylesheets/global_styles.scss';

.app {
  background-color: $background-color;

  .appbar {
    width: 100%;
    z-index: 10;
  }

  .contents {
    top: 60px;
    position: relative;
  }

}
