.pt-card-catalog {
  width: 270px;
  height: 270px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .title {
    padding: 5px;
    width: 100%;

    .alignleft {
    	float: left;
    }
    .alignright {
    	float: right;
    }
  }
}

.fab {
  position: fixed;
  right: 20px;
  bottom:20px;
  z-index: 5;
}
.dialogue {
  padding:20px;
  width: 400px;
  height: 500px;
  overflow-y: scroll;
  display: block;
  margin: auto;
  margin-top: 100px;
}
.actions {
  float: right;
  padding-top: 50px;
  padding-left: 10px;

  button {
    margin: 10px;
  }
}
