.bucket {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "photogrid actions"
}

.bucketGrid {
  grid-area: photogrid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: baseline;
}

.actions {
  grid-area: actions;
}


.bucketGrid img {
  margin-left: 3px;
}
