@import '../../../stylesheets/global_styles';

.photodetailGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh repeat(5 auto);
  grid-gap: 10px;
  grid-template-areas:
    "photo"
    "info"
    "tag"
    "comment"
    "album"
    "rotate";
}

  @media (min-width: $break-medium) {
    .photodetailGrid.portrait {
    grid-template-columns: 1fr 2fr;
    // grid-template-rows: 55vh 10vh 10vh 15vh;
    grid-gap: 10px;
    grid-template-areas:
      "info    photo"
      "album   photo"
      "comment photo"
      "tag     photo"
      "rotate  photo";
   }

.photodetailGrid.landscape {
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 55vh 10vh 10vh 15vh;
   grid-gap: 10px;
   grid-template-areas:
     "photo photo  photo"
     "info  album  comment "
     "info rotate  comment "
     "tag  tag     comment ";
  }//
 }

  @media (min-width: $break-large) {
    .photodetailGrid.portrait {
      grid-template-columns: minmax(200px, 1fr) minmax(250px, 1fr) 2fr;
      grid-template-rows: 25vh 25vh 25vh 10vh;
      grid-gap: 10px;
      grid-template-areas:
        "info   comment photo"
        "tag    comment photo"
        "album  comment photo"
        "rotate comment photo";
    }

    .photodetailGrid.landscape {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 30vh 30vh 20vh;
      grid-gap: 10px;
      grid-template-areas:
        "info    photo photo photo   photo"
        "comment photo photo photo   photo"
        "comment tag     tag   album rotate"
    }
  }


.photo {
  grid-area: photo;
  composes: box3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
}

.rotate {
  grid-area: rotate;
  composes: box3;
  height: 65px;
}

.album {
  grid-area: album;
  composes: box3;
  height: 65px;
}

.tags {
  overflow: hidden;
  grid-area: tag;
  composes: box3;
  display: flex;
  flex-direction: column;


  .tagContainer {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    // padding-bottom: : 4px;
    /// flex-grow: 1;
  }
}

.info {
  grid-area: info;
  composes: box3;
  font-size: 12px;
  color: #757575;
  padding: 15px;

  .table {
    display: table;
    .row {
      height: 26px;
      display: table-row;
      .cell {
        min-width: 53px;
        display: table-cell;
      }
    }
  }
}

.comments {
  grid-area: comment;
  composes: box3;
  display: flex;
  flex-direction: column;
  grid-gap: 3px;

  .toggleComments {
    div { margin-left: 0.5em; }
    background-color: white;
    font-size: 12px;
    color: #757575;

    .materialIcons {
      vertical-align:middle;
    }
  }

  .commentsContainer {
    flex-direction: column;
    overflow-y: scroll;

    .comment {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 5em 1fr 1fr;
      grid-template-rows: 1.5em 1fr 1.5em;
      grid-template-areas:
        "avatar date date"
        "avatar comment comment"
        "user user user";
      &:nth-child(odd) {background-color: #ece7e7;}

      img {
        grid-area: avatar;
        border-radius: 50%;
        height: 3.5em;
        padding: 0.4em;
        width: auto;
      }

      .commentDate {
        grid-area: date;
        margin-right: 0.5em;
        align-self: start;
        justify-self: end;
      }

      .commentUser {
        grid-area: user;
      }

      .commentText {
        grid-area: comment;
      }

      p {
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 12px;
        color: #757575;
      }
      &:hover {
        background-color: #d8cece;
      }
    }
  }
}
