.icon-toggle-container {
	width:100%;
  visibility: hidden;

  &:hover {
    .icon-toggle {
      background: rgba(0,0,0,0.7);
    }
  }

  &.visible {
    visibility: visible;
    pointer-events: all;
  }

  &.selected {
    .icon-toggle {
      visibility: visible;
      background: rgba(206, 154, 154, 0.5);
      svg {
        fill: rgb(220, 96, 96);
      }
    }
  }

  .icon-toggle {
    display: flex;
    justify-content: center;
  	width: 100%;
  	height:0;
  	padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0 3px gray;

    svg {
      fill: #ffffff;
      height: 1.3em;
      margin-top: 0.4em;
    }

  }
}
