
@import '../../../stylesheets/global_styles';
@import './widget';

.outer.outer_rilu.outerAnimating_rilu {
  z-index:2000;
}

.photogrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  grid-gap: 4px;
  justify-items: start;
  justify-content: center;
  background-color: $background-color;
  padding-top: 1em;
}
