@import '../../../stylesheets/material-icons';

.photo-widget {
  position: relative;
  border: none;
  margin-bottom: 6px;
  margin-left:1px;
  margin-right:1px;
}

.photo-widget.large {
  width:250px;
}
@media (max-width: 480px) {
  .photo-widget.small {
    width:125px;
  }
}

.photo-widget img {
  min-height: 125px;
  min-width: 125px;
}

.photo-widget:focus {
  opacity:0.5;
}

.photo-widget > .date {
  background-color: #6E7C84;
  color: white;
  text-align: center;
  height: 14px;
  font-size: 10px;
  font-weight: 900;
}

.overlay-button > .material-icons{
  font-size: 16px;
}

.photo-widget > .button-container {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;

}

.button-container > .overlay-button {
  align-self:auto;
  display: none;
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  background-color: black;
  cursor:pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  z-index: 5;
}

.button-container > .overlay-show {
  display: inline-block;
}

.button-container > .overlay-select.selected {
  display:inline-block;
}
