// @import '../../../stylesheets/material-icons';

.photo-widget {
  position: relative;
  border: none;

  .date {
    background-color: #6E7C84;
    color: white;
    text-align: center;
    height: 14px;
    font-size: 10px;
    font-weight: 900;
  }

  .button-container {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: 5;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    justify-content: center;
    grid-gap: 10px;

    .overlay-button {
      transition: visibility 0s, opacity 1.5s linear;
      visibility: hidden;
      opacity: 0;
      height: 30px;
      width: 30px;
      text-align: center;
      color: #ffffff;
      opacity: 0.7;
      background-color: black;
      cursor:pointer;
      text-align: center;
      text-decoration: none;
      color: #ffffff;

      .material-icons{
        font-size: 16px;
      }
    }

    .overlay-button.show {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }

  }
}

.photo-widget.large {
  width:200px;
}

@media (max-width: 480px) {
  .photo-widget.small {
    width:125px;
  }
}

.photo-widget img {
  min-height: 125px;
  min-width: 125px;
}

.photo-widget:focus {
  opacity:0.5;
}
