@import '../../../stylesheets/global_styles';

.photoWidget {
  position: relative;
  border: none;

.nohover { display: inherit; }
.hover { display: inherit;}

  @media (pointer: fine) {
    &:hover > .buttonContainer > .iconToggleContainer.hover,
    &:hover > .buttonContainer > a > .iconToggleContainer.hover
     {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
  }
  .date {
    background-color: #6E7C84;
    color: white;
    text-align: center;
    height: 14px;
    font-size: 11px;
    font-weight: bold;
    font-family: swansea;
    padding-top:4px;
  }

  .buttonContainer {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: 5;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    justify-content: center;
    grid-gap: 10px;
    padding-top: 7px;
    a { text-decoration: none; }
  }
}

.photoWidget img {
  min-height: 125px;
  min-width: 125px;
}

.iconToggleContainer {
	width:100%;
  visibility: hidden;
  cursor: pointer;


	i {
		color: white;
		font-weight: bold;
		color: #FFFFFF;
		text-decoration: none;
	}

  &:hover {
    .iconToggle {
      background: rgba(0,0,0,0.7);
    }
  }

  &.visible {
    visibility: visible;
    pointer-events: all;
  }

  &.selected {
    .iconToggle {
      visibility: visible;
      background: rgba(243, 193, 14, 0.70);
    }
  }

  .iconToggle {
    display: flex;
    justify-content: center;
		align-items: center;
  	width: 100%;
  	height:30px;
  	// padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0 3px gray;

  }
}
