.login-card {
  height:600px;
  width:800px;
  margin-left:calc(50vw - 200px);
  margin-top:calc(50vh - 200px);

  .card {
    padding: 20px;
  }

  button {
    position: absolute;
    right: 20px;
    bottom: 20px;

  }
}
